## Cricket project mergind data part 2

### I Batsman Stat

###  1. Checking and cleaning uncessasary columns

#### Checking which columns should be deleted

In [1]:
# importing necessary 

import os
import glob
import pandas as pd
import numpy as np

In [2]:
# get data file names and shape

path ='/home/mendis/Documents/CricProject/complete data./Bat'
filenames = glob.glob(path + "/*.csv")

# created a dictionary storing name and data of dataframs

df_dict = dict()
    
for files in filenames:
    file_name = files.replace(path,'').replace('/','').replace('.csv','')
    df = pd.read_csv(files)
    
    df_dict[file_name] = df

In [3]:
# Check if dataframes are working properly inside a dicitonary

for i in df_dict:
    print(i+": "+str(df_dict[i].shape))

batstatrightopendaynight: (1266, 13)
batstatrightthreedaynight: (805, 13)
batstatrighttailday: (3539, 13)
batstatlefttailday: (1053, 13)
batstatleftopendaynight: (962, 13)
batstatleftmidday: (1324, 13)
batstatleftthreedaynight: (309, 15)
batstatleftthreeday: (324, 13)
batstatrighttaildaynight: (3254, 13)
batstatrightmidday: (3268, 13)
batstatrightthreeday: (824, 13)
batstatrightopenday: (1462, 13)
batstatleftmiddaynight: (1387, 13)
batstatrightmiddaynight: (3069, 13)
batstatlefttaildaynight: (1202, 13)
batstatleftopenday: (834, 13)

#### Duplicate columns?

In [4]:
# we can clearly see batstatleftthreeday.csv has two extra cloumn. 
# That is due to the method of data scraping was different for this data set
# let's explore this fact

unique_columns = 0
df_column_array = []

for i in df_dict:
    df_column_array = np.append(df_column_array, df_dict[i].columns)

unique_columns = np.unique(df_column_array)
print(len(unique_columns))
unique_columns.tolist()

17

['Balls Faced',
 'Date',
 'Fours',
 'Ground',
 'Inning',
 'Inns',
 'Mins',
 'Opposition',
 'Pagination',
 'Pagination-href',
 'Player',
 'Runs',
 'Sixes',
 'Start Date',
 'Strick Rate',
 'web-scraper-order',
 'web-scraper-start-url']

In [5]:
# it is clear that Innings and Inns are similar so need to be modified 
# And Start Date and Date should also mean the same 
# As batstatleftthreedaynight.csv was scraped differntly it could be dataset producing these different results
# let us check

unique_columns = 0
df_column_array = []

for i in df_dict:
    if(i == 'batstatleftthreedaynight'):
        pass
    else:
        df_column_array = np.append(df_column_array, df_dict[i].columns)
            
unique_columns = np.unique(df_column_array)
print(len(unique_columns))
print(unique_columns.tolist())

15
['Balls Faced', 'Date', 'Fours', 'Ground', 'Inning', 'Inns', 'Mins', 'Opposition', 'Player', 'Runs', 'Sixes', 'Start Date', 'Strick Rate', 'web-scraper-order', 'web-scraper-start-url']

In [6]:
# So it is clear that batstatleftthreedaynight has two distict values than the rest
# But looking at columns, we can see Innings and Inns as well as Date and Start Date repeats
# let's find whic dataframe creates this issue

unique_columns = 0

for j in df_dict:
    df_column_array = []
    print(j)
    for i in df_dict:
        if i == j or i == 'batstatleftthreedaynight':
            pass
        else:
            df_column_array = np.append(df_column_array, df_dict[i].columns)
    unique_columns = np.unique(df_column_array)
    print(len(unique_columns))


            
# unique_columns = np.unique(df_column_array)
# print(len(unique_columns))
# print(unique_columns.tolist())

batstatrightopendaynight
15
batstatrightthreedaynight
15
batstatrighttailday
15
batstatlefttailday
15
batstatleftopendaynight
15
batstatleftmidday
15
batstatleftthreedaynight
15
batstatleftthreeday
15
batstatrighttaildaynight
15
batstatrightmidday
15
batstatrightthreeday
15
batstatrightopenday
13
batstatleftmiddaynight
15
batstatrightmiddaynight
15
batstatlefttaildaynight
15
batstatleftopenday
15

In [7]:
# It seems like batstatrightopenday has unique values, let us investigate
# See what columns are different from other datasets


unique_columns = 0

df_column_array = []

for i in df_dict:
    if i == 'batstatrightopenday' or i == 'batstatleftthreedaynight':
        pass
    else:
        df_column_array = np.append(df_column_array, df_dict[i].columns)
            
unique_columns = np.unique(df_column_array)
print(len(unique_columns))


# See what columns are different from other datasets

list_column_common = unique_columns.tolist()
batstatrightopenday_column = df_dict['batstatrightopenday'].columns.tolist()
batstatleftthreedaynight_colunm = df_dict['batstatleftthreedaynight'].columns.tolist()

listdiff1 = list(set(batstatrightopenday_column) - set(list_column_common))
listdiff2 = list(set(batstatleftthreedaynight_colunm) - set(list_column_common))

print('difference bitween batstatrightopenday and common is {}\ndifference betweeen batstatleftthreedaynight and common is {}'.format(listdiff1,listdiff2))
print(list_column_common)

13
difference bitween batstatrightopenday and common is ['Inns', 'Start Date']
difference betweeen batstatleftthreedaynight and common is ['Inns', 'Pagination', 'Pagination-href', 'Start Date']
['Balls Faced', 'Date', 'Fours', 'Ground', 'Inning', 'Mins', 'Opposition', 'Player', 'Runs', 'Sixes', 'Strick Rate', 'web-scraper-order', 'web-scraper-start-url']

In [8]:
# let's check if other datasets have common colunms as we assumed

diff_list = []

for i in df_dict:
    for j in df_dict:
        if i == 'batstatrightopenday' or i == 'batstatleftthreedaynight'or j == 'batstatrightopenday' or j == 'batstatleftthreedaynight' :
            pass
        else:
            diff_list = np.append(diff_list,list(set(df_dict[i].columns.tolist())-set(df_dict[j].columns.tolist())))

print(diff_list)

[]

In [9]:
# by printing dataframes in jupyter I found that Innings and Inns meant the same
# And Date and Start Date means the same
# We'll rename these columns with the common name and check
# drop Pagination and href

df_dict['batstatrightopenday'].rename(columns = {'Inns':'Inning','Start Date':'Date'}, inplace = True)
df_dict['batstatleftthreedaynight'].rename(columns = {'Inns':'Inning','Start Date':'Date'}, inplace = True)

df_dict['batstatleftthreedaynight'] = df_dict['batstatleftthreedaynight'].drop(["Pagination","Pagination-href"], axis=1)

diff_list = []

for i in df_dict:
    for j in df_dict:
        diff_list = np.append(diff_list,list(set(df_dict[i].columns.tolist())-set(df_dict[j].columns.tolist())))

print(diff_list)

[]

In [10]:
# let us remove 'web-scraper-order', 'web-scraper-start-url' from every dataset
array_check_drop = []

for i in df_dict:
    df_dict[i] = df_dict[i].drop(['web-scraper-order', 'web-scraper-start-url' ],axis = 1)
    array_check_drop = np.append(array_check_drop, df_dict[i].columns)
    
unique_columns_drop = np.unique(array_check_drop)
print(len(unique_columns_drop))
print(unique_columns_drop.tolist())

11
['Balls Faced', 'Date', 'Fours', 'Ground', 'Inning', 'Mins', 'Opposition', 'Player', 'Runs', 'Sixes', 'Strick Rate']

In [11]:
#let's chech the shape of our dataframes to be sure of nothing changed during the process

for i in df_dict:
    print(i+": "+str(df_dict[i].shape))

batstatrightopendaynight: (1266, 11)
batstatrightthreedaynight: (805, 11)
batstatrighttailday: (3539, 11)
batstatlefttailday: (1053, 11)
batstatleftopendaynight: (962, 11)
batstatleftmidday: (1324, 11)
batstatleftthreedaynight: (309, 11)
batstatleftthreeday: (324, 11)
batstatrighttaildaynight: (3254, 11)
batstatrightmidday: (3268, 11)
batstatrightthreeday: (824, 11)
batstatrightopenday: (1462, 11)
batstatleftmiddaynight: (1387, 11)
batstatrightmiddaynight: (3069, 11)
batstatlefttaildaynight: (1202, 11)
batstatleftopenday: (834, 11)

###  2. Labeling

In [152]:
# labels should be added, 'Batting Hand', 'Position', 'Day/DayNight'
# keys in dictionary are all strings so I can label the by

for i in df_dict:
    if 'right' in i:
        df_dict[i]['Batting Hand'] = 'Right'
    elif 'left' in i:
        df_dict[i]['Batting Hand'] = 'Left'
        
for i in df_dict:
    if 'open' in i:
        df_dict[i]['Batting Position'] = 'Opener'
    elif 'three' in i:
        df_dict[i]['Batting Position'] = 'Third Batsman'
    elif 'mid' in i:
        df_dict[i]['Batting Position'] = 'Middle Order'
    elif 'tail' in i:
        df_dict[i]['Batting Position'] = 'Tail Ender'
        
for i in df_dict:
    if 'night' in i:
        df_dict[i]['Match Time'] = 'Day Night'
    else:
        df_dict[i]['Match Time'] = 'Day'

In [153]:
# checking shape 
# checking unique columns

for i in df_dict:
    print(i+": "+str(df_dict[i].shape))

column_unique_array = []

for i in df_dict:
    column_unique_array = np.append(column_unique_array, df_dict[i].columns)
            
unique_columns = np.unique(column_unique_array)
print(len(unique_columns))
print(unique_columns.tolist())

batstatrightopendaynight: (1266, 14)
batstatrightthreedaynight: (805, 14)
batstatrighttailday: (3539, 14)
batstatlefttailday: (1053, 14)
batstatleftopendaynight: (962, 14)
batstatleftmidday: (1324, 14)
batstatleftthreedaynight: (309, 14)
batstatleftthreeday: (324, 14)
batstatrighttaildaynight: (3254, 14)
batstatrightmidday: (3268, 14)
batstatrightthreeday: (824, 14)
batstatrightopenday: (1462, 14)
batstatleftmiddaynight: (1387, 14)
batstatrightmiddaynight: (3069, 14)
batstatlefttaildaynight: (1202, 14)
batstatleftopenday: (834, 14)
14
['Balls Faced', 'Batting Hand', 'Batting Position', 'Date', 'Fours', 'Ground', 'Inning', 'Match Time', 'Mins', 'Opposition', 'Player', 'Runs', 'Sixes', 'Strick Rate']

### 3. Merging

In [154]:
# Check how many rows should be there after merging

count = 0

for i in df_dict:
    count = count + df_dict[i].shape[0]
    
print(count)
print("number of matches {}".format(count/11))

24882
number of matches 2262.0

In [155]:
# number of rows should be 24882 after merging

batstatfinal = pd.DataFrame()

for i in df_dict:
    batstatfinal =batstatfinal.append(df_dict[i])

batstatfinal.shape

(24882, 14)

### 4. Data Cleaning

Check the type of data in dataframe and perform neccesary data conversions
Add A few columns

1. Columns to be added, 'Playing Country', 'Not Out'

2. Column 'Inning' to be renamed to 'Bat Inning'

In [156]:
# renaming inning
# type of data

batstatfinal.rename(columns = {'Inning':'Bat Inning'} , inplace = True)

In [157]:
batstatfinal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24882 entries, 0 to 833
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Player            24882 non-null  object
 1   Runs              24882 non-null  object
 2   Mins              24882 non-null  object
 3   Balls Faced       24882 non-null  object
 4   Fours             24882 non-null  object
 5   Sixes             24882 non-null  object
 6   Strick Rate       24882 non-null  object
 7   Bat Inning        24882 non-null  object
 8   Opposition        24882 non-null  object
 9   Ground            24882 non-null  object
 10  Date              24882 non-null  object
 11  Batting Hand      24882 non-null  object
 12  Batting Position  24882 non-null  object
 13  Match Time        24882 non-null  object
dtypes: object(14)
memory usage: 2.8+ MB

In [158]:
# Runs, mins, balls faced, fours, sixes should be chaneged to int
# Strick rate should be a float|
# Type of date should be changed|

#### Cleaning 'Runs'

In [159]:
# Remove TDNB
# Add columns Batted and Not Out
# Replace DNB with 0
# Removing *

batstatfinal = batstatfinal[batstatfinal['Runs'] != 'TDNB']

batstatfinal['Not Out'] = batstatfinal['Runs'].str.contains('\*') 
batstatfinal['Batted'] = ~batstatfinal['Runs'].str.contains('DNB|absent')
batstatfinal['Runs'] = batstatfinal['Runs'].replace(['DNB'],'0')
batstatfinal['Runs'] = batstatfinal['Runs'].replace(['absent'],'0')
batstatfinal['Runs'] = batstatfinal['Runs'].str.split('*').str[0]

#### Clean  Others

In [160]:
batstatfinal = batstatfinal.replace(['-'],'0')

In [161]:
batstatfinal['Mins'].unique()

array(['22', '107', '25', '51', '32', '0', '28', '34', '23', '42', '153',
       '59', '12', '168', '50', '69', '84', '29', '228', '15', '136',
       '166', '58', '56', '8', '91', '18', '141', '36', '21', '112',
       '204', '7', '3', '71', '137', '225', '53', '83', '20', '93', '212',
       '67', '81', '88', '46', '40', '122', '2', '102', '63', '90', '62',
       '27', '19', '76', '45', '16', '1', '94', '154', '180', '126', '14',
       '151', '24', '187', '49', '17', '117', '13', '156', '4', '5', '48',
       '54', '11', '57', '77', '160', '61', '169', '113', '82', '123',
       '109', '66', '98', '144', '43', '52', '164', '60', '132', '108',
       '127', '222', '6', '38', '118', '158', '65', '200', '86', '87',
       '39', '189', '10', '30', '47', '74', '177', '97', '95', '159',
       '99', '33', '105', '217', '78', '75', '162', '103', '79', '171',
       '35', '210', '64', '138', '215', '209', '192', '80', '205', '152',
       '145', '104', '44', '130', '110', '31', '174', '70', '85', '119',
       '55', '41', '100', '131', '72', '135', '124', '223', '9', '111',
       '26', '133', '150', '175', '37', '193', '149', '167', '68', '148',
       '116', '221', '146', '206', '142', '161', '202', '140', '128',
       '115', '170', '208', '198', '147', '114', '120', '163', '134',
       '195', '89', '125', '172', '92', '190', '165', '179', '73', '101',
       '197', '173', '155', '96', '203', '121', '186', '183', '184',
       '220', '201', '157', '199', '129', '207', '139', '106', '211',
       '181', '218', '182', '216', '214', '194', '219', '178', '143',
       '191', '176', '196', '185', '213', '188', '236', '230', '224'],
      dtype=object)

In [162]:
# first trial ValueError: invalid literal ... '153* the star represent not out. remove star add a colum not out

batstatfinal['Runs'] = batstatfinal['Runs'].astype('int')
batstatfinal['Mins'] = batstatfinal['Mins'].astype('int')
batstatfinal['Balls Faced'] = batstatfinal['Balls Faced'].astype('int')
batstatfinal['Fours'] = batstatfinal['Fours'].astype('int')
batstatfinal['Sixes'] = batstatfinal['Sixes'].astype('int')


batstatfinal['Strick Rate'] = batstatfinal['Strick Rate'].astype('float')

In [163]:
batstatfinal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24530 entries, 0 to 833
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Player            24530 non-null  object
 1   Runs              24530 non-null  int64
 2   Mins              24530 non-null  int64
 3   Balls Faced       24530 non-null  int64
 4   Fours             24530 non-null  int64
 5   Sixes             24530 non-null  int64
 6   Strick Rate       24530 non-null  float64
 7   Bat Inning        24530 non-null  object
 8   Opposition        24530 non-null  object
 9   Ground            24530 non-null  object
 10  Date              24530 non-null  object
 11  Batting Hand      24530 non-null  object
 12  Batting Position  24530 non-null  object
 13  Match Time        24530 non-null  object
 14  Not Out           24530 non-null  bool
 15  Batted            24530 non-null  bool
dtypes: bool(2), float64(1), int64(5), object(8)
memory usage: 2.9+ MB

In [164]:
# remove v from Opposition
# changing the date format
# New Column Player Country

batstatfinal['Opposition'] = batstatfinal['Opposition'].str.strip(' ').str[1:]
batstatfinal['Date'] = pd.to_datetime(batstatfinal['Date'])

batstatfinal['Player Country'] = batstatfinal['Player'].apply(lambda st: st[st.find("(")+1:st.find(")")])
batstatfinal['Player'] = batstatfinal['Player'].apply(lambda st: st[:st.find("(")])

In [165]:
batstatfinal.head()

,Player,Runs,Mins,Balls Faced,Fours,Sixes,Strick Rate,Bat Inning,Opposition,Ground,Date,Batting Hand,Batting Position,Match Time,Not Out,Batted,Player Country
0,MJ Guptill,20,22,24,3,1,83.33,2,Bangladesh,Christchurch,2021-03-23,Right,Opener,Day Night,False,True,NZ
1,Ahmed Shehzad,61,107,82,5,0,74.39,1,Australia,Dubai (DSC),2014-10-10,Right,Opener,Day Night,False,True,PAK
2,Nawroz Mangal,4,25,28,0,0,14.28,1,England,Sydney,2015-03-13,Right,Opener,Day Night,False,True,AFG
3,Mohammad Ashraful,29,51,38,5,0,76.31,2,Sri Lanka,Pallekele,2013-03-28,Right,Opener,Day Night,False,True,BDESH
4,JM Vince,16,32,20,1,0,80.00,1,Bangladesh,Dhaka,2016-10-07,Right,Opener,Day Night,False,True,ENG

In [166]:
len(batstatfinal['Player Country'].unique())
batstatfinal['Player Country'].unique()

array(['NZ', 'PAK', 'AFG', 'BDESH', 'ENG', 'SL', 'INDIA', 'AUS', 'ZIM',
       'WI', 'SA', 'IRE', 'SCOT', 'UAE', 'PNG', 'USA', 'NL', 'NEPAL',
       'KENYA', 'HKG', 'CAN', 'NAM', 'OMAN', '3', '1'], dtype=object)

In [167]:
len(batstatfinal['Opposition'].unique())
batstatfinal['Opposition'].unique()

array([' Bangladesh', ' Australia', ' England', ' Sri Lanka', ' India',
       ' Pakistan', ' Zimbabwe', ' South Africa', ' Ireland',
       ' New Zealand', ' West Indies', ' Afghanistan', ' Scotland',
       ' U.A.E.', ' Hong Kong', ' P.N.G.', ' Kenya', ' Canada',
       ' Netherlands', ' Namibia', ' Nepal', ' Oman', ' U.S.A.'],
      dtype=object)

In [168]:
# Export to CSV
# batstatfinal.to_csv('batstatfinal.csv', index = False )

In [169]:
df=pd.read_csv('batstatfinal.csv')
df.head()

,Player,Runs,Mins,Balls Faced,Fours,Sixes,Strick Rate,Bat Inning,Opposition,Ground,Date,Batting Hand,Batting Position,Match Time,Not Out,Batted,Player Country
0,MJ Guptill,20,22,24,3,1,83.33,2,Bangladesh,Christchurch,2021-03-23,Right,Opener,Day Night,False,True,NZ
1,Ahmed Shehzad,61,107,82,5,0,74.39,1,Australia,Dubai (DSC),2014-10-10,Right,Opener,Day Night,False,True,PAK
2,Nawroz Mangal,4,25,28,0,0,14.28,1,England,Sydney,2015-03-13,Right,Opener,Day Night,False,True,AFG
3,Mohammad Ashraful,29,51,38,5,0,76.31,2,Sri Lanka,Pallekele,2013-03-28,Right,Opener,Day Night,False,True,BDESH
4,JM Vince,16,32,20,1,0,80.00,1,Bangladesh,Dhaka,2016-10-07,Right,Opener,Day Night,False,True,ENG

In [170]:
df.shape

(24530, 17)

In [171]:
df.columns

Index(['Player', 'Runs', 'Mins', 'Balls Faced', 'Fours', 'Sixes',
       'Strick Rate', 'Bat Inning', 'Opposition', 'Ground', 'Date',
       'Batting Hand', 'Batting Position', 'Match Time', 'Not Out', 'Batted',
       'Player Country'],
      dtype='object')